# Default idea ignored files
/shelf/
/workspace.xml

.idea/

# OS
.DS_Store
Thumbs.db

# Server
.htaccess

# File types
*.xml
*.ico
*.list
*.structure
*.png
*.jpg

# Folders
settings
libs

# Files
check_login.php
get_vkrss_news_wall.php
login.php
registration.php
send_mail.php